* {
    font-family: 'Inconsolata', monospace;
}
html, body {
    height: 100%;
}

canvas[resize] {
    width: 600px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

h2 {
    text-align: center;
}

#title {
    padding: 10px;
}

h6 {
    margin: 0px;
    padding-top: 5px;
}